#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardsNumber {
  margin-bottom: 15px;
}

.btn {
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.resetCards {
  margin-left: 15px;
}

.result {
  margin-bottom: 15px;
}
